<div class="w-1/2 h-full bg-gray-900 flex flex-col items-center justify-center">
    <div id="logoContainer" class="h-24 w-24">
        <img class=""  alt="logo" id="logo" />
    </div>
    <div class="w-full h-auto flex flex-col items-center justify-center">
        <h2 class="text-2xl text-white font-bold font-sans" id="name"></h2>
        <ul class="w-full h-auto list-none text-center">
            <li id="weather"class="text-xl font-bold text-blue-500" >Weather:<span id="weather" class="text-xl text-blue-500"></span></li>
	    <li class="text-xl text-blue-500 font-bold">Temp:<span id="temp" class="text-xl text-blue-500 font-semibold"></span></li>
            <li class="text-xl text-blue-500 font-bold" >Lon:<span id="lon" class="text-xl text-blue-500 font-semibold"></span></li>
            <li class="text-xl text-blue-500 font-bold">Lat:<span id="lat" class="text-xl text-blue-500 font-semibold"></span></li>
        </ul>
    </div>
</div>
